.project-card{
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    width: 80vw;
    height: 15vh;
    border-block: solid;
    border-color: #333333;
    margin: .5vw 4vw;
}
.project-img{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.project-name{
    display: flex;
    /* align-content: center; */
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding-left: 5vw;
    flex-grow: 1;
}

.project-card:hover{
    transition: 0.1s;
    border-color: gray;
    background-color: #d0d0d0;

}

.project-card .edit-button {
    margin-left: 10px; /* Небольшой отступ слева от кнопки */
}

.edit-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 16px; /* Делаем кнопку крупнее */
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 16px; /* Отступ между кнопкой и названием */
}

.edit-button:hover {
    background-color: #0056b3; /* Темнее при наведении */
}